.section {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(247, 244, 244, .8), rgba(247, 244, 244, .8)), url('../images/antibodies-background.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  flex-direction: row;
  display: flex;
}

.div-block {
  max-width: 50vw;
  min-height: 100vh;
  min-width: 50vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
  display: flex;
}

.div-block.is-red {
  opacity: 1;
  background-color: rgba(254, 42, 57, .35);
}

.div-block.is-red.mob-view {
  background-color: rgba(254, 42, 57, 0);
  justify-content: center;
}

.div-block.is-centred {
  justify-content: center;
}

.image {
  min-width: 200px;
}

.header-text {
  max-width: 25ch;
  font-family: Akkurat, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-block {
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.content-container {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.table_cell {
  text-align: center;
  padding: .25rem .5rem;
}

.table_cell.is-long {
  max-width: 20ch;
}

.table_cell.is-red {
  background-color: rgba(254, 42, 57, .4);
}

.table_cell.is-white {
  background-color: rgba(255, 255, 255, .6);
}

.table_header {
  text-align: center;
  -webkit-text-stroke-color: #000;
  background-color: rgba(255, 255, 255, .5);
  padding: 1rem .5rem .5rem;
}

.table_header.is-red {
  text-align: center;
}

.table_component {
  min-width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: left;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Akkurat, sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.link-block {
  min-width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .69);
  border: 1px #e0e0e0;
  border-radius: 20px;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  transition: background-color .15s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  overflow: hidden;
}

.link-block:hover {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.download-link {
  max-width: 20ch;
  text-align: left;
  padding-left: .5rem;
  font-family: Akkurat, sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
}

.pdf-image {
  max-width: 200px;
}

.tab-link-tab-1 {
  min-width: 50%;
}

.tab-link-tab-1.w--current {
  color: #fff;
  background-color: #fe2a39;
}

.tab-link-tab-2 {
  min-width: 50%;
  font-family: Akkurat, sans-serif;
}

.tab-link-tab-2:hover {
  background-color: #bdb5b5;
}

.tab-link-tab-2.w--current {
  color: #fff;
  background-color: #fe2a39;
  border-radius: 3px;
}

.text-block-2, .tab-title {
  text-align: center;
  font-family: Akkurat, sans-serif;
}

.typeform-wrapper-qg2lrdpn {
  width: 100%;
  height: 100%;
}

.div-block-2 {
  min-height: 80%;
  min-width: 80%;
  opacity: 1;
  mix-blend-mode: normal;
  background-color: #fff;
  border-radius: 40px;
  padding: 1rem;
  overflow: hidden;
}

.typeform-wrapper {
  border-radius: 20px;
}

.tabs-menu {
  border: 0 solid #000;
  border-radius: 20px;
  overflow: hidden;
}

.download-wrapper {
  max-height: 100%;
  min-height: 100%;
  min-width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-wrapper {
  min-height: 50%;
  min-width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-3 {
  min-height: 90%;
  min-width: 70%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .section {
    flex-direction: column;
  }

  .div-block {
    min-height: 50vh;
    min-width: 100vw;
    padding-top: .5rem;
  }

  .div-block.is-red.mob-view {
    min-height: 100vh;
  }

  .div-block.is-red.mob-view.thank-you-section {
    min-height: 50vh;
    justify-content: flex-start;
  }

  .logo-block, .text-block {
    text-align: center;
  }

  .content-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .div-block-2 {
    max-height: 80vh;
    min-height: 80vh;
    flex-direction: column;
    display: flex;
  }

  .div-block-3 {
    min-width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .section {
    overflow: hidden;
  }

  .div-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-block {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
  }

  .content-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .table_header {
    padding-bottom: 1rem;
  }

  .pdf-image {
    max-width: 160px;
  }

  .div-block-2 {
    max-height: 95vh;
    min-height: 95vh;
    min-width: 95%;
    padding: .25rem 0;
  }

  .tabs-menu {
    display: flex;
  }
}


@font-face {
  font-family: 'Akkurat';
  src: url('../fonts/1976.AkkuratStd-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Akkurat';
  src: url('../fonts/1974.Akkurat-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Akkurat';
  src: url('../fonts/1975.Akkurat-Light-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}